.wrapper{
    position: relative;
}

.over_map{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.pedir {
    color: black;
    outline: none;
    margin: 0 1rem;
    background-color: #FFF017;
    border-color: black;
    width: 120px;
    height: 40px;
}