
body{
    background-color: black;
}

.logo{
    width: 200px;
    height: 80px;
}

.outer-div {
    height: 330px;
    width: 100%;
    display: inline-block;
    text-align: center;
    align-items: center;
    
}

.jumbotron-div {
    height: 100%;
    align-items: center;
    
}

.jumbo-boy {
    background: black;
    text-align: center;
}

.jumbo-boy h1 {
    font-size: 40px;
    font-family: Arial;
    color: white;
}

.jumbo-boy h5 {
    font-size: 20px;
    font-family: Arial;
    color: white;
}
